h1 span{
color: red;
font-size: 60px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
h2 span{
    color: blue;

}
.first{
    background-image: url(./y.jpeg);
    height: 300px;
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 40px;

}